*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
*.jar
*.log
*.bak
*.swp
*~
.idea/
.gradle/
build/
local.properties
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/
gen/
out/
